.App {
  text-align: center;
  margin-top: 5px;
}

.App-header {
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 10px;
}

.Links{
  letter-spacing: 10px;
  margin: 25px;
  margin-top: 0px;
}